{% extends 'base.html' %}


{% block content %}
    {% for post in posts %}
        <article class="post">
            <time class="date">
                {{ post.published_date }}
            </time>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h2>
            <p>"{{ post.text|linebreaksbr }}", is the series finale of the television sitcom Friends. The episode serves as the seventeenth and eighteenth episode of season ten; the episode's two parts were classified as two separate episodes. It was written by series creators David Crane and Marta Kauffman,</p>
        </article>
    {% endfor %}
{% endblock %}